img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}
* {
    box-sizing: border-box;
}
h1 {
    color: #db0000;
    text-align: center;
    
}
